import { createGlobalStyle } from "styled-components";

const GlobalStyles = createGlobalStyle`
    * {
        font-family: "Noto Sans KR", "NaumGothic", "Malgun Gothic";
        box-sizing: border-box;
    }

    body {
        padding: 50px 100px;
        margin: 0;
    }
`;

export default GlobalStyles;