import { createGlobalStyle } from "styled-components";

const GlobalStyles = createGlobalStyle`
    /* 이 안에서는 CSS 순정 코드를 작성 */

    * {
        font-family: "Noto Sans KR", "NaumGothic", "Malgun Gothic";
    }

    body {
        padding: 50px 100px;
        margin: 0;
    }
`;

export default GlobalStyles;